workflows/Gg2piavJVvPYgibC.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Rubric creation assitant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Rubric creation assitant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Insert rubric into database": {
      "ai_tool": [
        [
          {
            "node": "Rubric creation assitant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execute query on rubrics database": {
      "ai_tool": [
        [
          {
            "node": "Rubric creation assitant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat History": {
      "ai_memory": [
        [
          {
            "node": "Rubric creation assitant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-07T03:14:28.573Z",
  "id": "Gg2piavJVvPYgibC",
  "isArchived": false,
  "meta": null,
  "name": "Rubric generator assistant",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hello! 👋 I’m your assistant for creating and managing grading rubrics.\n\nTo get started, please provide:\n\n- Course subject\n\n- Course code\n\n- Assignment type\n\n- Assignment description (a brief explanation of the deliverable and what do you expect for each part of it)\n\nWith this, I’ll help you generate the rubric name and full rubric content.",
        "options": {}
      },
      "id": "3a991122-c31b-4eac-af11-ad14cfe5c32c",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        112,
        0
      ],
      "webhookId": "8f2b6d22-043e-4dab-b39a-44a8bbef4694",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        288,
        224
      ],
      "id": "1b3549d2-3a8d-4270-a219-a7600a93284d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Crwte56ZfSZpdVdA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an expert assistant specialized in helping teachers define high-quality grading rubrics for academic assignments.  \nYour job is to understand the teacher’s description of the deliverable, extract key academic expectations, and produce a clear, complete rubric **as a single text prompt** that will be stored and later used by an automated grading system. Feel free to produce changes in the rubric as you are the expert, sometimes the teacher will not have previous knowledge about effective rubrics, use the description to create a clear set of rubrics.\n\nYour output must follow the structure described in the rubric database schema below.\n\n## Rubric Database Schema\nTable name: rubrics\n\n[\n  {\n    \"column_name\": \"id\",\n    \"data_type\": \"uuid\",\n    \"is_nullable\": \"NO\",\n    \"column_default\": null,\n    \"example\": \"6a4c4c4e-2e0c-4c10-86e2-2fbf88f63951\"\n  },\n  {\n    \"column_name\": \"created_at\",\n    \"data_type\": \"timestamptz\",\n    \"is_nullable\": \"NO\",\n    \"column_default\": \"now()\",\n    \"example\": \"2025-03-15T14:23:00.000Z\"\n  },\n  {\n    \"column_name\": \"updated_at\",\n    \"data_type\": \"timestamptz\",\n    \"is_nullable\": \"NO\",\n    \"column_default\": \"now()\",\n    \"example\": \"2025-03-15T14:23:00.000Z\"\n  },\n  {\n    \"column_name\": \"identifier\",\n    \"data_type\": \"varchar\",\n    \"is_nullable\": \"YES\",\n    \"column_default\": null,\n    \"example\": \"CS101-LAB-rest-api-lab-v1\"\n  },\n  {\n    \"column_name\": \"subject\",\n    \"data_type\": \"varchar\",\n    \"is_nullable\": \"YES\",\n    \"column_default\": null,\n    \"example\": \"Software Engineering\"\n  },\n  {\n    \"column_name\": \"course_code\",\n    \"data_type\": \"varchar\",\n    \"is_nullable\": \"YES\",\n    \"column_default\": null,\n    \"example\": \"CS101\"\n  },\n  {\n    \"column_name\": \"assignment_type\",\n    \"data_type\": \"varchar\",\n    \"is_nullable\": \"YES\",\n    \"column_default\": null,\n    \"example\": \"LAB\"\n  },\n  {\n    \"column_name\": \"rubric_name\",\n    \"data_type\": \"varchar\",\n    \"is_nullable\": \"YES\",\n    \"column_default\": null,\n    \"example\": \"REST API Lab Rubric\"\n  },\n  {\n    \"column_name\": \"rubric_content\",\n    \"data_type\": \"text\",\n    \"is_nullable\": \"YES\",\n    \"column_default\": null,\n    \"example\": \"Evaluate the student's REST API implementation based on correctness, error handling, code quality, and documentation...\"\n  },\n  {\n    \"column_name\": \"version\",\n    \"data_type\": \"int8\",\n    \"is_nullable\": \"YES\",\n    \"column_default\": \"1\",\n    \"example\": 1\n  }\n]\n\n## Notes\n- `rubric_content` contains the **full natural-language rubric** generated by this agent.\n- `identifier` must follow this pattern:  \n  `{course_code}-{assignment_type}-{slug(rubric_name)}-v{version}`\n- The agent should produce clean, structured text suitable for grading automation.\n- If there is a previous rubric only change the data specified by the user, the other fiels should be mantained, the identifier changes because of version changes\n## Final Context\n- Current date/time: {{ $now.toISO() }}\n- UNIX timestamp: {{ $now.toMillis() }}\n\n- UNIX timestamp for current date/time: {{ $now.toMillis() }}\n\n- When responding to the user  include, in a human readable format, the identifier and the content so it can be evaluated by the teacher",
          "returnIntermediateSteps": true
        }
      },
      "id": "03dba53c-f3fa-4943-aaa8-4521a9002ee1",
      "name": "Rubric creation assitant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        416,
        0
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "This tool should be used when the teacher provides or corrects information about an assignment’s rubric, metadata, or structure.\nWhenever the teacher updates details such as the subject, course code, assignment type, rubric name, rubric content, or version, this tool must be used to store the updated rubric in the database.\n\nIf the teacher corrects any aspect of an existing rubric, the tool should write the corrected information to the database.\nAfter executing the tool, always confirm to the teacher that the rubric has been saved or updated successfully including the affected ID and the content of the rubric so it can be changed by the teacher.",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "rubrics",
          "mode": "list",
          "cachedResultName": "rubrics"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "identifier": "={{ $fromAI('identifier', ``, 'string') }}",
            "subject": "={{ $fromAI('subject', ``, 'string') }}",
            "course_code": "={{ $fromAI('course_code', ``, 'string') }}",
            "assignment_type": "={{ $fromAI('assignment_type', ``, 'string') }}",
            "rubric_name": "={{ $fromAI('rubric_name', ``, 'string') }}",
            "rubric_content": "={{ $fromAI('rubric_content', ``, 'string') }}",
            "version": "={{ $fromAI('version', ``, 'number') }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "identifier",
              "displayName": "identifier",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "course_code",
              "displayName": "course_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assignment_type",
              "displayName": "assignment_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rubric_name",
              "displayName": "rubric_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rubric_content",
              "displayName": "rubric_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "version",
              "displayName": "version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "outputColumns": [
            "identifier",
            "rubric_content"
          ]
        }
      },
      "id": "8be7281b-ce07-45a9-a3bc-634ebe8d34a1",
      "name": "Insert rubric into database",
      "type": "n8n-nodes-base.postgresTool",
      "position": [
        576,
        224
      ],
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this to get rubrics and their IDs for modification, delete items, add multiple items, or any other operation not covered by the simple insert tool",
        "operation": "executeQuery",
        "query": "{{ $fromAI('valid_postgres_sql_query', 'Write any valid SQL query for the Postgres rule database.', 'string') }}",
        "options": {}
      },
      "id": "417d874d-f6b4-4868-9ace-4b5e620e16f8",
      "name": "Execute query on rubrics database",
      "type": "n8n-nodes-base.postgresTool",
      "position": [
        720,
        224
      ],
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "8125b2cb-0725-4da3-a987-cb8af59056e8",
      "name": "Chat History",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        432,
        224
      ],
      "typeVersion": 1.3
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-07T03:14:28.579Z",
      "createdAt": "2025-12-07T03:14:28.579Z",
      "role": "workflow:owner",
      "workflowId": "Gg2piavJVvPYgibC",
      "projectId": "xJrjLvOBMTENgWyr"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-07T03:14:28.573Z",
  "versionId": "0683a73e-17b7-4e30-91f3-8c2f818b3843"
}